* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hidden {
    display: none;
}

h1 {
    text-align: center;
}

h4 {
    margin-top: 0;
}

div {
    padding: 20px;
    text-align: center;
}

form {
    border: black 1px solid;
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;

    input {
        margin-bottom: 15px;
    }

    legend {
        font-size: 1.2em;
        font-weight: 700;
        margin-bottom: 15px;
    }
}

footer {
    text-align: center;
}

footer input {
    text-align: center;
    width: 100px;
    margin: 15px;
}

.messageItem,
.bookingItem {
    width: 250px;
    margin: 10px auto;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: none;
}

nav {
    ul {
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }

    li {
        display: inline;
    }

    a {
        text-decoration: none;
        padding: 10px;
    }
}

body {
    background-color: #efece4;
}

#registerForm,
#updateForm {
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border: none;
}

.button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5cb83a;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
    background: #43A047;
}

#logoutbtn,
.deleteBtn {
    background-color: #E02B20 !important;
    max-width: 250px;
}

#clearBtn,
#deleteBtn {
    background-color: #E02B20;
}

#logoutbtn:hover,
.deleteBtn:hover,
#clearBtn:hover,
#deleteBtn:hover {
    background-color: #aa2b24db !important;
}

input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}