#booking-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 460px;
    background-color: #E02B20;
    color: #FFF;
    border: solid 0px;
    left: -2px;
    cursor: pointer;
    transform-origin: 0 0;
    transform: rotate(270deg);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    margin: 0;
    padding: 6px 13px 8px 13px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    display: block;
    z-index: 100000;
    box-sizing: border-box;
}

#booking-btn:hover {
    background-color: #5cb83a;
}


#bookingFormDiv {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #efece4;
    padding: 100px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: -1000px;
    transition: left 1s ease;
    transform: translate(-50%, -50%);
    box-shadow: #000 1px 1px 5px;
}


//sliding
#bookingFormDiv.show {
    left: 50%;
}

.active {
    background-color: #5cb83a !important;
}

input {
    background: #FFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    display: block;
    margin: 0 auto;
    background: transparent;
    outline: none;
    color: #000;
    border: solid 1px #000000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

input:hover {
    background: #fff;
    color: #000;
}

input:valid {
    background: #FFF;
}

legend {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.5em;
}

label {
    display: inline-block;
    margin-bottom: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#closeBtn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

#closeBtn:hover {
    color: #E02B20;
}

#bookBtn {
    width: 502px;
    background: #FFF;
    padding: 0;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.875em;
    color: #000;
    outline: none;
    cursor: pointer;
    border: solid 1px #000;
}

#bookBtn.disabled {
    background: #ccc;
    margin-top: 20px;
}

#bookBtn:hover {
    color: #FFF;
    background-color: #5cb83a;
}

#bookBtn.disabled:hover {
    background-color: #ccc;
    color: #000;
    cursor: not-allowed;
}

#bookingStatus {
    text-align: center;
    padding-top: 15px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    #bookingFormDiv {
        padding: 20px;
        width: 320px;
        max-width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    input {
        max-width: 100%;
        width: 300px;
    }

    #bookBtn {
        width: 100%;
    }

    .hidden {
        display: none;
    }
}