html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    overflow-x: hidden; //ta bort sidescroll
}

header {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.8);
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 100%;

    nav {
        width: 100vw;


        img {
            position: fixed;
            top: 10px;
            left: 50px;
            width: 220px;
        }

        img:hover {
            transform: scale(1.1);
        }
    }

    ul {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: right;
    }

    li {
        list-style: none;
        display: inline-block;
        margin-right: 50px;


        a {
            text-decoration: none;
            color: white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        a:hover {
            color: darken(white, 20%)
        }
    }

    .hidden {
        display: none;
    }
}

#banner {
    h1 {
        margin: 0;
        text-align: center;
        padding-top: 450px;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.5em;
        text-shadow: black 1px 1px 1px;
    }

    a {
        display: block;
        width: 200px;
        margin: 50px auto;
        padding: 10px 5px;
        border: #E02B20 solid 1px;
        border-radius: 5px;
        text-align: center;
        background-color: #E02B20;
        text-decoration: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        letter-spacing: 0.1em;
        box-shadow: black 1px 1px 1px;
    }

    a:hover {
        background-color: darken(#E02B20, 20%);
        border: darken(#E02B20, 20%);
    }

    background: url("../images/background-header.jpg") no-repeat center center fixed;
    height: 900px;
    background-size: cover;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 3em;
    letter-spacing: 0.1em;
    padding-top: 80px;
    text-wrap: wrap;
    max-width: 100%;
}

#menu {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .foodname {
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .ingredients {
        color: #888888;
    }

    .price {
        color: #5cb83a;
        font-weight: 700;
    }

    .menuItem {
        padding: 50px;
        width: 200px;
    }

    .menuItem:hover {
        transform: scale(1.1);
    }
}

//flexbox
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

#about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img {
        width: 500px;
        max-width: 90%;
        margin: 0 auto;
        display: block;
    }

    p {
        max-width: 500px;
        width: 80%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 0.05em;
        line-height: 1.5em;
        margin: 0 auto;
        padding-top: 15px;
        color: #888;
    }

    .extra {
        color: #E02B20;
        text-transform: uppercase;
        font-weight: 700;
    }

}

footer {
    background-color: #efece4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3e3e3e;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    p {
        margin-bottom: 0;
    }

    display: flex;

    div {
        flex-grow: 1;
        padding: 10px;
    }

    h4 {
        color: #E02B20;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    i:hover {
        cursor: pointer;
        color: #5cb83a;
    }

    #openingHours {
        margin-left: 10px;
        line-height: 1.5em;
    }

    #adress {
        line-height: 1.5em;
    }
}

#map {
    width: 600px;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    #logo {
        display: none;
    }

    h2 {
        font-size: 2em;
    }

    #contactFormLocation,
    #contactForm {
        display: none;
    }

    #menu {
        .menuItem {
            padding: 5px;
        }
    }
}